docker/containers/firebase/firebase-debug.log
docker/containers/firebase/firestore-debug.log
docker/containers/firebase/pubsub-debug.log
docker/volumes/app/node_modules
docker/volumes/app/package-lock.json